/*widths, max bredd*/
.max-width {max-width: 192rem ;}
.max-width-sm{max-width: 50rem;}
.card-width {max-width:55rem ; }
.card-size {max-height: auto; width:auto ;}
.width-lg {width: 50%;}
.min-width-xxl {min-width: 100% ; }
.min-width {min-width: 25rem;}

/*position*/
.position-relative {position: relative !important ; }
.position-absolute {position: absolute !important ; }
.overflow-hidden {overflow: hidden}
/*x och y led*/
.centerXY {
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/*margin . räkna ut marginalen för höger och den andra räkna marginalen för*/
.mr-auto, .mx-auto {margin-right: auto; }
.ml-auto, .mx-auto {margin-left: auto ; }
.m-6 {margin: var(--distance-6);}
.m-15 {margin: var(--distance-15);}


.mt-0, .my-0 {margin-top: var(--distance-0);}   /*0rem*/
.mb-0, .my-0 {margin-bottom: var(--distance-0);} 
.mt-1, .my-1 {margin-top: var(--distance-1) ; }   /*0.25rem*/
.mb-1, .my-1 {margin-bottom:var(--distance-1) ;}
.mt-2, .my-2 {margin-top: var(--distance-2);}   /*0.5rem*/
.mb-2, .my-2 {margin-bottom: var(--distance-2);} 
.mt-4, .my-4 {margin-top: var(--distance-4);}    /*1*/
.mb-4, .my-4 {margin-bottom: var(--distance-4);}
.mt-6, .my-6 {margin-top: var(--distance-6);}     /*1.5*/
.mb-6, .my-6 {margin-bottom: var(--distance-6);}
.mt-8, .my-8 {margin-top: var(--distance-8);}      /*2*/
.mb-8, .my-8 {margin-bottom: var(--distance-8);}  
.mt-10, .my-10 {margin-top: var(--distance-10);}    /*2.5rem*/
.mb-10, .my-10 {margin-bottom: var(--distance-10);}
.mt-12, .my-12 {margin-top: var(--distance-12);}     /*3rem*/
.mb-12, .my-12 {margin-bottom: var(--distance-12);}
.mt-15, .my-15 {margin-top: var(--distance-15);}     /*4rem*/
.mb-15, .my-15 {margin-bottom: var(--distance-15);}



.mr-4, .mx-4 {margin-right: var(--distance-4);} /*avståndet höger sidan*/
.ml-4, .mx-4 {margin-left: var(--distance-4);} /*avståndet på vänster sida*/
.mr, .mx-6 {margin-right: var(--distance-6);}
.ml, .mx-6 {margin-left: var(--distance-6);}
.ml-6 {margin-left: var(--distance-6);}
.mt-6{margin-top: var(--distance-6);}
.mt-7{margin-top: var(--distance-7);}
.mt-8{margin-top: var(--distance-8);}
.mt-10{margin-top: var(--distance-10);}
.mt-12{margin-top: var(--distance-12);}
.mt-15{margin-top: var(--distance-15);}
.ml-8{margin-left: var(--distance-8);}
.ml-6{margin-left: var(--distance-6);}
.ml-5{margin-left: var(--distance-5);}




/*padding*/
.p-1{padding: var(--distance-1);}
.p-3 {padding:var(--distance-2)}
.p-4 {padding: var(--distance-4);}
.p-5 {padding: var(--distance-5) ; }
.p-6 {padding: var(--distance-6); }
.p-8 {padding: var(--distance-8); }
.p-12 {padding:var(--distance-12) ; }
.p-15 {padding: var(--distance-15); }

.p-2 {padding:var(--distance-2);}
.pr-1 {padding-right: var(--distance-4);}

/*utrymmet för höger sidan och vänster sidan*/
.pr-4, .px-4 {padding-right:var(--distance-4) ; }
.pl-4, .px-4 {padding-left:var(--distance-4) ; }
.pl-2 {padding-left: var(--distance-2);}
.pr-2 {padding-right: var(--distance-2);}


.pr-6{padding-right: var(--distance-6);}
.pr-12, .px-12 {padding-right:var(--distance-12) ; }
.pl-12, .px-12 {padding-left:var(--distance-12) ; }

.pt-2, .py-2 {padding-top:var(--distance-2) ; }
.pb-2, .py-2 {padding-bottom:var(--distance-2) ; }
.pb-3 {padding-bottom:var(--distance-3) ;}
.pb-4 {padding-bottom: var(--distance-4);}
.pb-5{padding-bottom: var(--distance-5);}
.pb-6{padding-bottom: var(--distance-6);}
.pb-7{padding-bottom: var(--distance-7);}
.pb-8{padding-bottom: var(--distance-8);}




/*typography ta bor understreck*/
.text-decoration-none { text-decoration: none;}
.text-center {text-align: center;} /*centrear texten*/
.text-uppercase {text-transform: uppercase;}/*gör texten till stora bokstäver*/
.text-bold {font-weight: bold;} /*fet stil*/

ul {list-style-type: none;} /*ta bort punkter*/
a{ text-decoration: none;}



.text-size-xss {font-size: var(--display-xxs); }
.text-size-xs {font-size: var(--display-xs); }
.text-size-sm {font-size: var(--display-sm) ; }
.text-size-md {font-size: var(--display-md) ; }
.text-size-lg {font-size: var(--display-lg) ; }
.text-size-xl {font-size: var(--display-xl) ; }
.text-size-xxl{font-size: var(--display-xxl) ; }
  
/*line height*/
.lh-sm {line-height: var(--line-height-sm);}
.lh-md {line-height: var(--line-height-md);}
.lh-lg {line-height: var(--line-height-lg);}
.lh-xl{line-height:var(--line-heigt-xl)}


/*circle*/
.circle {border-radius: 100% } /*gör en cirkel*/
.circle-lg {width: 15rem ; height: 15rem;} /*storlek på cirkel*/



/*shadow*/
.shadow-sm {box-shadow: var(--shadow-small-light); }
.shadow-lg {box-shadow: var(--shadow-large-light) ; } 

/*button. den första har inget marginal alla andra har */
nav div a:not(:first-child) {margin-left: var(--distance-12);}
.icon-badge{
    top:-8px;
    right: -8px;
    padding: var(--distance-1) var(--distance-3);
}

/*border*/
.border-radius {border-radius: var(--border-radius-sm);} /*gör kanterna mer rund*/
.border-small-white {border: var(--border-xs-white);}
.border-bottom-xs {border-bottom: var(--border-xs);}
.border-sm {border:var(--border-sm) ; }
.border-lg {border: var(--border-lg);}
.border-transparent {border: var(--border-transparent);}






/*colored bar.*/
.bar-height {height:0.3rem;}




/*images bredden på bilder*/
.logo-width {max-width:  13rem; ;}
.img-lg-width  {max-width: 60%;}



.f-width {max-width: 31% ; }

/*icon*/
.icon-feature { width: 7.6rem; height: 7.6rem; padding: 0.375rem; }
.icon-circle { width: 6.2rem; height: 6.2rem; line-height: 6rem; }
.icon-form-control {right: 10px; top: 10px;}

/*Statistics*/
.statistics-image {
    background-image: url('fun-facts/fun-facts-bg-img.jpg');
    background-repeat: no-repeat; background-size: cover; background-position: center ;
}
.font-size{font-size: 1rem;}
